<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- database connection properties -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jees4?useSSL=false&amp;autoReconnect=true</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password">azertyuiop0-</property>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>


    <!-- show mysql queries output in console -->
    <property name="hibernate.show_sql">false</property>

    <!-- manage automatic database creation -->
    <property name="hibernate.hbm2ddl.auto">validate</property>

    <!-- dbcp connection pool configuration -->
    <property name="hibernate.dbcp.initialSize">5</property>
    <property name="hibernate.dbcp.maxTotal">20</property>
    <property name="hibernate.dbcp.maxIdle">10</property>
    <property name="hibernate.dbcp.minIdle">5</property>
    <property name="hibernate.dbcp.maxWaitMillis">-1</property>




      <mapping class="Entities.AdministrateurEntity"/>
      <mapping class="Entities.AppartenirEntity"/>
      <mapping class="Entities.AppartenirEntityPK"/>
      <mapping class="Entities.AssociationEntity"/>
      <mapping class="Entities.AvoirEntity"/>
      <mapping class="Entities.AvoirEntityPK"/>
      <mapping class="Entities.BenevoleEntity"/>
      <mapping class="Entities.CompetenceEntity"/>
      <mapping class="Entities.DomaineEntity"/>
      <mapping class="Entities.ExigenceEntity"/>
      <mapping class="Entities.ExigerEntity"/>
      <mapping class="Entities.ExigerEntityPK"/>
      <mapping class="Entities.NationnaliteEntity"/>
      <mapping class="Entities.OffreEntity"/>
      <mapping class="Entities.PieceJointeEntity"/>
      <mapping class="Entities.PostulerEntity"/>
      <mapping class="Entities.UserEntity"/>



  </session-factory>
</hibernate-configuration>
